
/*CSS змінні*/

:root {
    --main-background-color: #ffffff;
    --second-background-color: #f5f4fa;
    --background-footer-hero: #2f303a;
    --text-nav-tittle: #212121;
    --text-links: #757575;
    --accent: #2196f3;
  }
  
  body {
    background-color: var(--main-background-color);
    font-family: Roboto, sans-serif;
  }
  
  .conteiner {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  ul,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .link {
    text-decoration: none;

 
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
  
  .section-features,
  .work-section,
  .team,
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .work-tittle,
  .team-tittle {
    margin-bottom: 50px;
  }
  
  
  .img {
    display: block;
  }
  
  /*Header*/
  
  .header > .conteiner {
    display: flex;
    align-items: center;
  }
  
  /*Header Logo*/
  
  .logo {
    text-decoration: none;
  
    color: var(--accent);
  
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .studio-header {
    color: var(--text-nav-tittle);
  }
  
  /*Navigation*/
  
  .head-navigation {
    margin-left: 93px;
  }
  
  .header-nav {
    display: flex;
  }
  
  .header-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--text-nav-tittle);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .header-nav .link:hover,
  .header-nav .link:focus {
    color: var(--accent);
  }
  
  .header-nav .link.current {
    color: var(--accent);
  }
  
  /*Header adress*/
  
  .header-adress {
    display: flex;
    margin-left: auto;
  }
  
  .header-adress .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-adress .link {
    color: var(--text-links);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .header-adress .link:hover,
  .header-adress .link:focus {
    color: var(--accent);
  }
  
  /*Main*/
  
  /*Hero*/
  
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #C4C4C4;
    padding: 200px 0px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  .hero-tittle {
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--main-background-color);
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .hero-button {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
  
    background-color:  #2196f3;;
    color: var(--main-background-color);
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-decoration: none;
  }
  
  .hero-button:hover,
  .hero-button:focus {
    background-color:  #188CE8;;
    color: var(--main-background-color);
  }
  
  /*Features*/
  
  .features {
    display: flex;
  }
  
  .features > .item:not(:last-child) {
    margin-right: 30px;
  }
  
  .feature-tittle {
    margin-bottom: 10px;
    color: var(--text-nav-tittle);
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .feature-text {
    color: var(--text-links);
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  /*Work section + Team*/
  
  

  .section.work-section
   {padding-top:0;}

  .work-img {
    display: flex;
    justify-content: space-between;
  }
  
  .work-tittle,
  .team-tittle {
    color: var(--text-nav-tittle);
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  /*Team*/
  
  .team {
    background-color: var(--second-background-color);
  }
  
  .team-list .list-item {
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-list {
    display: flex;
    justify-content: space-between;
  
    text-align: center;
  }
  
  .team-list > .list-item {
    padding-bottom: 30px;
  }

  .team-worker {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  
  .name-worker {
    margin-top: 30px;
    margin-bottom: 10px;
  
    color: var(--text-nav-tittle);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .list-item
  .work-position {
    color: var(--text-links);
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  
  /*Footer*/
  
  /*Logo*/
  
  .footer {
    background-color: var(--background-footer-hero);
  }
  
  .footer > .conteiner {
    
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /*Footer Logo*/
  
  .footer .logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .studio-footer {
    color: var(--main-background-color);
  }
  
  /*Footer Adress*/
  
  .adress {
    margin-bottom: 9px;
    display: inline-block;
    color: var(--main-background-color);
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: inline-block;
  }
  
  .footer-adress > .list-item:not(:last-child) {
    margin-bottom: 9px;
    
    
  }
  
  .footer-adress {
    list-style-type: none;
    
  }
  
  .footer-adress .link {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .footer-adress .link:hover,
  .footer-adress .link:focus {
    color: var(--accent);
  }
  
  /*Portfolio*/
  
  .portfolio-header {
    border-bottom: 1px solid #eeeeee;
  }
  
  /*Main*/
  
  /*Buttons*/
  
  .portfolio-button .link {
    display: inline-block;
    min-width: 73px;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
  
    background-color: var(--second-background-color);
    color: var(--text-nav-tittle);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
  
    cursor: pointer;
  }
  
  .portfolio-button .link:hover,
  .portfolio-button .link:focus {
    background-color: var(--accent);
    color: var(--main-background-color);
  }
  
  /*Portfolio Images*/
  
  .portfolio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-button > .item:not(:last-child) {
    margin-right: 8px;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100%/3);
  }
  
  .img-description {
    
  
    padding: 20px 24px;
  }
  
  .portfolio-list > .list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .portfolio-list > .list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .img-description
  .img-tittle {
    margin-bottom: 4px;
  
    color: var(--text-nav-tittle);
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .project {
    color: var(--text-links);
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
  /*"overlay"*/
  